.menu .title {
  padding: 0 6px 0 16px;

  background: url(circle-down.svg) left 1px no-repeat;
  background-size: 14px;

  font-weight: bold;
  cursor: pointer;
}

.menu .list {
  display: none;
  margin: 0;
}

.menu .list a {
  color: blue;
}

.menu.open .list {
  display: block;
}

.menu.open .title {
  background-image: url(circle-up.svg);
}

.shadow {
  margin: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 3px 5px rgba(0, 0, 100, 0.25);
}
